body {
  width: 400px;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
}

div.menu {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 5px;
}
div[data-cmd] {
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: subgrid;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;

  * {
    pointer-events: none;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &:active {
    opacity: 0.5;
  }
  span.item {
    background-position: left 5px center;
    background-repeat: no-repeat;
    text-indent: 42px;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span.tag {
    background-color: #8BC34A;
    font-size: 80%;
    border-radius: 2px;
    padding: 5px;
    color: #273914;
    margin-right: 5px;
  }
}
div[data-cmd="capture-entire"] span.item,
div[data-cmd="capture-entire-debugger"] span.item,
div[data-cmd="capture-entire-debugger-steps"] span.item {
  background-image: url("../icons/entire.png");
}
div[data-cmd="capture-visual"] span.item,
div[data-cmd="capture-visual-debugger"] span.item {
  background-image: url('../icons/visual.png');
}
div[data-cmd="capture-portion"] span.item {
  background-image: url("../icons/part.png");
}

body[data-disabled=true] div[data-cmd],
div[data-cmd].disabled {
  opacity: 0.3;
  pointer-events: none;
}

#mode {
  display: flex;
  flex-direction: column;
  border-top: solid 3px #ccc;
  padding-top: 10px;
  margin: 10px 0 0 0;
}
#mode > label {
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#mode > label:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#mode input {
  margin-right: 5px;
}
