html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #414141;
  background-color: #fff;
}

input[type=button] {
  height: 28px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
  border: solid 1px rgba(0, 0, 0, 0.25);
}

.note:not(:empty) {
  padding: 10px;
  text-align: center;
  border: solid 2px #FFC107;
  background-color: #fff7b1;
  margin: 10px;
}
